@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --cor1: #FEF9F9;
  --cor2: #F9E8D2;
  --cor3: #742218;
  --cor4: #CA3922;
  --cor5: #42291A;
  --dourado: #D0A43A;
  --fonte1: "Playfair Display", serif;
  --fonte2: "Lato", sans-serif;
  --fonte3: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body, html {
  background-color: var(--cor2);
}

header {
  width: 100%;
  height: 85vh;
  background-color: var(--cor2);
  background-image: url(../imagens/header-desktop.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.titulo-header > h1 {
  display: block;
  width: 90vw;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  font-family: var(--fonte1);
  font-size: 2.6em;
  color: var(--cor3);
}

header > div > p {
  font-family: var(--fonte2);
  font-size: 2em;
  text-align: center;
  color: var(--cor4);
  padding: .5rem 0rem;
}

.linha {
  display: block;
  margin: auto;
  width: 40vw;
  padding-top: 1rem;
}

.titulo-cestas {
  text-align: center;
  font-family: var(--fonte1);
  font-size: 2em;
  color: var(--cor5);
}

.subtitulo-cestas {
  padding: .5rem;
  text-align: center;
  font-family: var(--fonte1);
  font-size: 1.2em;
  font-weight: normal;
  color: var(--cor5);
}

div.card {
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
  background-color: #f5e0c6;
  border: 2px solid var(--dourado);
  border-radius: 20px;
}

.card > img {
  display: flex;
  width: 65vw;
  margin: auto;
}

.card h3 {
  text-align: center;
  font-family: var(--fonte1);
  font-size: 1.8em;
  color: var(--cor4);
  padding: .5rem;
}

.card ul {
  list-style-type: none;
  text-align: center;
  font-family: var(--fonte2);
  font-size: 1em;
  color: var(--cor5);
  padding: .3rem 1rem;
}

.card .valor {
  font-family: var(--fonte1);
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding: .3rem;
}

.card .botao {
  display: block;
  width: 30vw;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--fonte2);
  font-size: 1.3em;
  font-weight: bold;
  color: var(--cor1);
  padding: .8rem;
  background-color: var(--cor4);
  border-radius: 30px;
}

img.icone-perguntas {
  width: 60px;
  padding: 1rem;
}

.titulo-perguntas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.titulo-perguntas h3 {
  font-family: var(--fonte1);
  font-size: 2em;
  color: var(--cor4);
  padding: 0.5rem;
}

.pergunta h4 {
  width: 90vw;
  font-family: var(--fonte2);
  font-size: 1.2em;
  color: var(--cor3);
  text-align: center;
}

.pergunta {
  display: flex;
  flex-direction: row;
  color: var(--cor3);
  cursor: pointer;
  padding: 1rem;
}

#resposta1, #resposta2, #resposta3, #resposta4 {
  display: none;
  width: 80vw;
  text-align: center;
  font-family: var(--fonte2);
  font-size: 1em;
  color: var(--cor5);
  background-color: #f5e0c6;
  border: 1px solid var(--dourado);
  border-radius: 10px;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
}

hr {
  width: 70vw;
  margin: auto;
  border: 1px solid var(--dourado);
}

footer {
  background-color: var(--cor4);
  margin: 2.5rem 0rem 0rem 0rem;
  padding: 0.5rem;
  text-align: center;
}

.botao-whats {
  background-color: var(--cor4);
  border: none;
  font-family: var(--fonte2);
  font-size: 1.2em;
  padding: .5rem;
}

.botao-whats a {
  text-decoration: none;
  color: var(--cor1);
}

.icone {
  width: 25px;
}